{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-react-inline-elements",
    "transform-react-constant-elements",
    "transform-react-remove-prop-types",
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ]
}
