 {
  "extends": ["airbnb"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "rules": {
    "import/extensions": ["never"],
    "import/no-unresolved": "off",
    "import/prefer-default-export": ["never"],
    "global-require": "off",
    "no-underscore-dangle": "off",
    "max-len": "off",
    "react/jsx-filename-extension": "off",
    "jsx-a11y/alt-text": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/forbid-prop-types": "off",
    "no-return-assign": "off",
    "react/no-array-index-key": "off",
    "jsx-a11y/label-has-for": "off",
    "react/no-unescaped-entities": "off",
    "no-nested-ternary": "off",
    "linebreak-style": "off"
  }
}